body {
	font-family: 'Antic', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
}

header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 120px;
	position: fixed;
	background-color: #235653;
	transition: all 0.4s ease-in-out;
}

header .wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 900px;
}

header img {
	height: 50px;
}

img {
    display: block;
	margin: 10px auto;
	height: 150px;
	transition: all 0.4s ease-in-out;
}

h1 {
	padding: 0;
	margin:0;
	color: #fff;
	font-weight: 700;
	font-size: 50px;
	margin-left: 10px;
	line-height: 120px;
	transition: all 0.4s ease-in-out;
}

header.minified {
	height: 30px;
}

header.minified .wrapper {
	justify-content: center;
}

header.minified h1 {
	font-size: 15px;
	line-height: 30px;
	margin: 0 20px;
}

header.minified img {
	height: 20px;
	margin: 6px 0;
}

header.minified img + img {
	margin-left: 10px;
}

article {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
	padding-top: 150px;
	width: 100%;
}

div.content-container {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 800px;
	overflow: hidden;
}

h2 {
	color: #e63a74;
	font-size: 2rem;
}

.content {
	display: block;
	font-size: 1rem; /* 12px */
	line-height: 1.5000rem; /* 18px */
	margin: 0 0 1.5000rem 0;
}

.up2date {
	display: inline-block;
	position: relative;
	top: -2px;
}

ol {
	margin-left: 50px;
}

strong {
	white-space: nowrap;
}

@media screen and (min-width: 650px) {
	/* Drop Caps */
	.content::first-letter {
		float: left;
		color: #758afe;
		font-size: 5rem;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
		font-family: Georgia;
	}

	.content.first-dark-blue::first-letter {
		color: #273380;
	}

	.content.first-dark-red::first-letter {
		color: #802041 !important;
	}
}

pre {
	display: block;
	background-color: lightgray;
	margin-left: 100px;
	margin-right: 5px;
}
pre.demo-code {
	background-color: #fff;
	color:#000000;
	display: block;
	margin-left: 50px;
}

@media screen and (max-width: 650px) {
	header {
		height: 30px;
	}

	h1 {
		font-size: 15px;
		line-height: 30px;
	}

	img {
		height: 20px;
		margin: 6px 0;
	}

	article {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		padding-top: 50px;
	}

	div {
		margin-left: 10px;
		margin-right: 10px;
	}

	pre.demo-code {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 451px) {
	header, section, div {
		position: relative;
		width: 450px;
		overflow: scroll!important;
	}

	article {
		padding-top: 10px;
	}
}
